.content {
    width: 93%;
    float: right;
    padding: 15px;
    margin-bottom: 30px;
}

/* #region BUTTON ADD */
.buttonAdd {
  position: fixed;
  bottom: 15px;
  right: 25px;
  border-radius: 50%;
  font-size: 24px;
  height: 65px;
  width: 65px;
  text-align: center;
  padding-top: 20px; 
  background-color: #ce4444;
  z-index: 999;
}

.buttonAdd:hover {
  background-color: #5D576B;
  cursor: pointer;
  transition-duration: 0.25s;
  transition-property: background-color,box-shadow;
}

.buttonAddComment {
  background-color: #ce4444;
  display: block;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.buttonAddComment:hover {
  background-color: #5D576B;
  cursor: pointer;
  transition-duration: 0.25s;
  transition-property: background-color,box-shadow;
}
/* #endregion */
/* #region EMPTY SEARCH*/
.emptyMsg {
  text-align: center;
  color: gray;
  margin-top: 5%;
}
.emptyImg {
  position: relative;
  top: 60px;
  left: -430px;
}
.emptyImg i.material-icons {
  font-size: 180px;
  color: #ccc;
}
.msgOnTop {
  position: absolute;
  z-index: 999;
  margin-left: -36px;
  margin-top: -50px;
}
/* #endregion */
/* #region POSTS  */

.postBlock {
    background-color: #fff;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 20px;
    width: 80%;
    float: right;
    box-shadow: 3px 2px 6px 1px #c7c7c7;
}

.imageCategory {
    padding: 5px;
    padding-left: 8px; 
    text-align: left;
    width: auto;
}

.postDescription {
    height: 57px;
    max-height: 57px;
    font-size: 12px;
    color: #b2b0b0;
    border: 1px dashed #e5dddd;
    width: 100%;
    padding: 5px;
    overflow-y: auto;
  }

  ul.postDetails {
    list-style: none;
    padding: 0px;
  }
  ul.postDetails li {
    display: inline-flex;
    margin-right: 15px;
  }
  
  ul.postDetails li span {
    margin-left: 5px;
    color: #D85050;
  }

/* #endregion */
/* #region VOTE */
.newVote {
    text-align: right;
  }
  .newVote span {
    font-weight: bold;
    margin: 2px;    
      margin-right: 6px;
      margin-left: 6px;
    display: inline-block;
    font-size: 13px;
    -webkit-transform: rotate(-35deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-35deg);
  }

  .isThis {
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 11px;
    letter-spacing: 0.22em;
  }
  .score {
    width: 80px;
    height: 60px;
    text-align: center;
    display: inline-block;
    padding-top: 18px;
  }
  .godVote {
    border: 1px solid #009245;
    color: #009245;
    padding: 2px;
    position: absolute;
    margin-left: -40px;
  }
  .badVote {
    border: 1px solid #E0417B;
    color: #E0417B;
    padding: 2px;
  }
  .postVote {  
    font-weight: bold;
    display: inline-block;
    transform: rotate(270deg);
    position: absolute;
    letter-spacing: 0.05em;
    color: #c7c5c5;
    top: 33px;
    right: 69px;
  }
  /* #endregion */
/* #region CONTENTCONTROL */

.contentControl {
    display: block;
    text-align: right;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 15px;
}
.contentControlItem {
    float: right
}

/* #endregion */
/* #region SORT */
.sorter {
  text-align: right;
  margin-bottom: 25px;
}

select {
  -webkit-appearance: listitem;
  height: 30px;
  padding-left: 5px;
  font-size: 11px;
  text-transform: uppercase;
  box-shadow: -2px 1px 7px 0px #dfdfdf;
}

.iconFilter {
  background-color: #dfdfdf;
  height: 30px;
  width: 30px;
  display: block;
  padding-top: 3px;
  float: right;
  text-align: center;
}

select option {
  -webkit-appearance: listitem;
  height: 150px;
}


/* #endregion*/
/* #region FORM CREATE */
.formPageTitle {
  font-size: 24px;
  float: right;
  display: block;
  text-align: center;
  width: 80%;
  text-transform: uppercase;
  color: gray;
  font-weight: 300;
}

.form {
  width: 80%;
  float: right;
  padding: 15px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 4px 4px 5px 1px #d2cdcd;
}

.formField {
  text-align: left;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px; 
  display: block;
}

.formBlock {
  margin: 15px;
  margin-top: 0px;
}

.formTitle {
  color: #686464;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
}

.formInput > input {
  display: block;
  width: 100%;
  padding-left: 5px; 
}

.formInput > textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  min-height: 200px;
  max-height: 250px;
  padding-left: 5px; 
}

.formInput > input::placeholder , .formInput > textarea::placeholder {
    font-size: 12px;
    letter-spacing: 0.05em;
}

.formButton {
  text-align: center;  
}

.back {
  background-color: #D85050;
  color: white;
  border: none;
  width: 90px;
  height: 40px;
  margin-right: 5px;
}

.back:hover {
  background-color: #ce4444;
}

.enter {
  background-color: #20AEC6;
  color: white;
  border: none;
  width: 90px;
  height: 40px;
  margin-right: 5px
}

.enter:hover {
  background-color: #0a8195;
}

.enter:disabled {
  background-color: #b2b0b0;
}

/* #endregion */
/* #region COMMENTS */

.formAddComment {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000007a;
  z-index: 999;
}

.formPageTitle.comment {
  float: unset;
  margin: unset;
  padding: unset;
  width: 100%;
  text-align: left;
  border-bottom: 1px dashed #d9d7d7;
}

.form.comment {
  box-shadow: none;
  float: unset;
  margin: 50px;
  margin-left: 16%;
  margin-right: 16%; 
}

.commentHeader {
  border-bottom: 1px dashed #ccc;
}

.title.colorYellow {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.msgCommentNull {
  display: block;
  color: gray;
  text-align: center;
  width: 100%;
}

.commentList {
  margin-top: 20px;
}

.commentUser.row {
  margin: 2px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 5px; 
  box-shadow: 3px 2px 5px 1px #c9c5c5;
}

.postDescription.comment {
  display: block;
  max-height: 100px;
  height: 90px;
}

/* #endregion */